In [2]:
import sys
sys.path.append('../source/')
import numpy as np
from Users import Users
from Producers import *
from embeddings import *
from sklearn.preprocessing import normalize
from plotting import *
from tqdm import tqdm
import pandas as pd

In [22]:
# utils_columns = ['total_prod_util','avg_prod_util', 'max_prod_util', 'min_prod_util', \
#                  'total_user_util','avg_user_util','max_user_util', 'min_user_util']

utils_columns = ['avg_prod_util', 'min_prod_util', \
                 'avg_user_util', 'min_user_util']

### Uniform synthetic
- 399 instances conveged to NE for linear, all 400 converged for softmax
- Of those 399 instances, Linear is better than softmax for both producer and user utilities (except for 2 instances for the max_user_util column)

In [37]:
df_linear = pd.read_pickle("../saved_frames/uniform_synthetic_grid_linear_statistics.pkl") 
df_softmax = pd.read_pickle("../saved_frames/uniform_synthetic_grid_softmax_statistics.pkl")

In [45]:
np.all(df_linear.iloc[300]['user_dist'] == df_softmax.iloc[300]['user_dist'])

True

array([0.09966336, 0.09900112, 0.09918296, 0.10054515, 0.10058565,
       0.10109971, 0.10053401, 0.09909415, 0.10027756, 0.10001633])

In [24]:
df_linear.shape, df_softmax.shape, df_linear.columns

((400, 16),
 (400, 16),
 Index(['dimension', 'seed', 'nprod', 'NE_exists', 'iters',
        'last_profile_compact', 'producer_dist', 'user_dist', 'total_prod_util',
        'avg_prod_util', 'max_prod_util', 'min_prod_util', 'total_user_util',
        'avg_user_util', 'max_user_util', 'min_user_util'],
       dtype='object'))

In [25]:
df_linear['NE_exists'].sum(), df_softmax['NE_exists'].sum()

(399, 400)

In [26]:
mask = df_linear['NE_exists']
(df_softmax[mask][utils_columns] <= df_linear[mask][utils_columns]).sum()

avg_prod_util    399
min_prod_util    399
avg_user_util    399
min_user_util    399
dtype: int64

In [30]:
# difference, linear - softmax for utilities
(df_linear[mask][utils_columns] - df_softmax[mask][utils_columns]).describe()

,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
count,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000
mean,684.369551,19.842705,20.836021,18.974458,684.369551,0.068437,0.244095,0.049992
std,237.304718,20.078576,21.233363,19.019626,237.304718,0.023730,0.148684,0.024368
min,388.680356,4.222688,4.302907,4.136017,388.680356,0.038868,-0.002132,0.000484
25%,465.475908,7.909494,8.108752,7.760211,465.475908,0.046548,0.128423,0.027502
50%,718.950983,12.316220,12.754441,12.065529,718.950983,0.071895,0.191765,0.054302
75%,886.795244,21.364928,23.412850,20.499442,886.795244,0.088680,0.393687,0.067307
max,1060.819757,106.081976,114.069056,102.894447,1060.819757,0.106082,0.515449,0.090755

In [43]:
df_linear[(df_linear['dimension'] == 5) & (df_linear['nprod'] == 10)]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,5,2,10,True,3,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.1985065740914945, 0.20296485834765995, 0.19...",3348.699486,334.869949,340.204491,329.684015,3348.699486,0.334870,0.918208,0.201381
10,5,3,10,True,3,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.19963523503021607, 0.2007249606838913, 0.20...",3328.041807,332.804181,335.949562,330.103021,3328.041807,0.332804,0.811231,0.200605
20,5,5,10,True,3,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.20257287206198313, 0.2012798194440244, 0.19...",3320.530466,332.053047,339.197666,323.747447,3320.530466,0.332053,0.899242,0.200694
30,5,7,10,True,4,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.19596202585469547, 0.20099394506356583, 0.2...",3336.911084,333.691108,344.924072,320.211504,3336.911084,0.333691,0.885513,0.201170
40,5,11,10,True,2,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.20113254531133956, 0.19795997909784113, 0.2...",3337.288030,333.728803,339.315320,327.654683,3337.288030,0.333729,0.936052,0.201612
50,5,13,10,True,5,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.20007785926324337, 0.2000912695958865, 0.20...",3329.396009,332.939601,336.282101,328.865792,3329.396009,0.332940,0.889383,0.200905
60,5,17,10,True,1,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.19795098440854125, 0.20069698840386346, 0.1...",3342.700987,334.270099,344.894542,328.268123,3342.700987,0.334270,0.876490,0.201201
70,5,19,10,True,3,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.19734045561066657, 0.19983119774218225, 0.2...",3329.666701,332.966670,341.402426,324.000152,3329.666701,0.332967,0.929049,0.200844
80,5,23,10,True,6,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.19886916795502832, 0.1982992018850868, 0.20...",3337.953092,333.795309,341.597091,327.985219,3337.953092,0.333795,0.879303,0.201226
90,5,29,10,True,3,"[2.0, 2.0, 2.0, 2.0, 2.0]","[0.2, 0.2, 0.2, 0.2, 0.2]","[0.20068460716651632, 0.20311781841797288, 0.1...",3336.767143,333.676714,342.335211,327.173974,3336.767143,0.333677,0.897498,0.200718

### Sorted synthetic
- all 400 instances converged to NE
- Softmax is better for producer and user utility in majority of cases

In [46]:
df_linear = pd.read_pickle("../saved_frames/sorted_synthetic_grid_linear_statistics.pkl") 
df_softmax = pd.read_pickle("../saved_frames/sorted_synthetic_grid_softmax_statistics.pkl")

In [47]:
np.all(df_linear.iloc[300]['user_dist'] == df_softmax.iloc[300]['user_dist'])

True

In [28]:
df_linear['NE_exists'].sum(), df_softmax['NE_exists'].sum()

(400, 400)

In [34]:
mask = df_linear['NE_exists']
(df_softmax[mask][utils_columns] <= df_linear[mask][utils_columns]).sum()

avg_prod_util    344
min_prod_util    328
avg_user_util    379
min_user_util    287
dtype: int64

In [36]:
(df_softmax[mask][utils_columns] - df_linear[mask][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count   4.000000e+02   4.000000e+02   4.000000e+02   4.000000e+02
mean   -4.130030e-15  -3.197442e-15  -6.938894e-19   2.081668e-19
std     2.442844e-14   1.660475e-14   2.096974e-17   4.251053e-17
min    -2.842171e-13  -1.136868e-13  -1.110223e-16  -2.498002e-16
25%     0.000000e+00  -7.105427e-15   0.000000e+00  -1.387779e-17
50%     0.000000e+00   0.000000e+00   0.000000e+00   0.000000e+00
75%     0.000000e+00   0.000000e+00   0.000000e+00   1.387779e-17
max     7.105427e-14   5.684342e-14   1.110223e-16   2.220446e-16

In [48]:
(df_softmax[mask][utils_columns] < df_linear[mask][utils_columns])

,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...
395,True,True,True,True,False,False,True,False
396,False,False,True,True,False,False,False,False
397,False,False,False,False,False,False,True,False
398,False,False,True,True,False,False,False,False
399,True,True,True,True,False,False,False,False

### Movielens-100k
- 398 converged for linear to NE, all 400 instances converged for softmax to NE
- linear is better for utility of producer and consumer in majority of cases

In [48]:
df_linear = pd.read_pickle("../saved_frames/Movielens100k_grid_linear_statistics.pkl") 
df_softmax = pd.read_pickle("../saved_frames/Movielens100k_grid_softmax_statistics.pkl")

In [49]:
np.all(df_linear.iloc[300]['user_dist'] == df_softmax.iloc[300]['user_dist'])

True

In [50]:
df_linear['NE_exists'].sum(), df_softmax['NE_exists'].sum()

(398, 400)

In [51]:
mask = df_linear['NE_exists']
(df_softmax[mask][utils_columns] <= df_linear[mask][utils_columns]).sum()

total_prod_util    398
avg_prod_util      398
max_prod_util      398
min_prod_util      398
total_user_util    398
avg_user_util      398
max_user_util      237
min_user_util      398
dtype: int64

In [52]:
(df_softmax[mask][utils_columns] <= df_linear[mask][utils_columns])

,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
395,True,True,True,True,True,True,False,True
396,True,True,True,True,True,True,False,True
397,True,True,True,True,True,True,False,True
398,True,True,True,True,True,True,False,True
399,True,True,True,True,True,True,False,True

In [53]:
# All of sorted synthetics plots

In [54]:
df_linear = pd.read_pickle("../saved_frames/sorted_synthetic_grid_linear_statistics.pkl")

In [59]:
df_linear[df_linear['dimension'] == 5][['producer_dist', 'user_dist']]

,producer_dist,user_dist
0,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.039708819798145785, 0.08900075621179299, 0...."
1,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.039708819798145785, 0.08900075621179299, 0...."
2,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.039708819798145785, 0.08900075621179299, 0...."
3,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.039708819798145785, 0.08900075621179299, 0...."
4,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.039708819798145785, 0.08900075621179299, 0...."
...,...,...
95,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.03964292242169159, 0.08973866698552162, 0.1..."
96,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.03964292242169159, 0.08973866698552162, 0.1..."
97,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.03964292242169159, 0.08973866698552162, 0.1..."
98,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.03964292242169159, 0.08973866698552162, 0.1..."
99,"[0.0, 0.0, 0.0, 0.0, 1.0]","[0.03964292242169159, 0.08973866698552162, 0.1..."

In [61]:
df_linear[df_linear['dimension'] == 5][['producer_dist']].describe()

                    producer_dist
count                         100
unique                        100
top     [0.0, 0.0, 0.0, 0.0, 1.0]
freq                            1

In [62]:
df_linear[df_linear['dimension'] == 10][['producer_dist']].describe()

                                            producer_dist
count                                                 100
unique                                                100
top     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
freq                                                    1

In [64]:
df_linear[df_linear['dimension'] == 15][['producer_dist']].describe()

                                            producer_dist
count                                                 100
unique                                                100
top     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
freq                                                    1

In [31]:
df_softmax[df_softmax['dimension'] == 5][['producer_dist']].describe()

                    producer_dist
count                         100
unique                        100
top     [0.0, 0.0, 0.0, 0.0, 1.0]
freq                            1

In [32]:
df_softmax[df_softmax['dimension'] == 10][['producer_dist']].describe()

                                            producer_dist
count                                                 100
unique                                                100
top     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
freq                                                    1

In [33]:
df_softmax[df_softmax['dimension'] == 15][['producer_dist']].describe()

                                            producer_dist
count                                                 100
unique                                                100
top     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
freq                                                    1