In [1]:
import sys
sys.path.append('../source/')
import numpy as np
from Users import Users
from Producers import *
from sklearn.preprocessing import normalize
from plotting import *
from tqdm import tqdm
import pandas as pd

## Synth uniform dataset
Across different temeperatures

t = 100, 10, 1, 0.1, 0.01

In [2]:
utils_columns = ['avg_prod_util', 'min_prod_util', 'avg_user_util', 'min_user_util']

In [3]:
df_100 = pd.read_pickle("../saved_frames/synth-uniform_softmax_temp_100.0.pkl")
df_1 = pd.read_pickle('../saved_frames/uniform_synthetic_grid_softmax_statistics.pkl')
df_01 = pd.read_pickle('../saved_frames/synth-uniform_softmax_temp_0.1.pkl')
df_001 = pd.read_pickle('../saved_frames/synth-uniform_softmax_temp_0.01.pkl')
df_linear = pd.read_pickle("../saved_frames/uniform_synthetic_grid_linear_statistics.pkl")

In [5]:
df_100.shape, df_1.shape, df_01.shape,df_001.shape

((400, 16), (400, 16), (400, 16), (400, 16))

In [6]:
(df_001['NE_exists'] == False).sum(), (df_01['NE_exists'] == False).sum(), \
(df_1['NE_exists']==False).sum(), \
(df_100['NE_exists']==False).sum(),\
(df_linear['NE_exists']==False).sum()

(3, 0, 0, 0, 1)

In [7]:
df_linear[df_linear['NE_exists'] == False]

,dimension,seed,nprod,NE_exists,iters,last_profile_compact,producer_dist,user_dist,total_prod_util,avg_prod_util,max_prod_util,min_prod_util,total_user_util,avg_user_util,max_user_util,min_user_util
270,15,19,10,False,9999,"[0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, ...","[0.0, 0.0, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.0, ...","[0.06638044181189726, 0.0664076402597995, 0.06...",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [9]:
conv_rows = ((df_001['NE_exists'] == True) & (df_linear['NE_exists'] == True)) # converged isntances

In [10]:
(df_001[conv_rows][utils_columns] - df_linear[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     396.000000     396.000000     396.000000     396.000000
mean       28.475909      25.031643       0.101932       0.017888
std        25.399223      24.059833       0.017130       0.005255
min         8.217255       6.930934       0.053946      -0.001942
25%        12.349585      11.605250       0.083069       0.014472
50%        18.491701      16.103389       0.109592       0.017956
75%        31.757166      27.477178       0.122287       0.022168
max       123.435697     122.832122       0.123512       0.033466

In [11]:
(df_001[conv_rows][utils_columns] - df_01[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     396.000000     396.000000     396.000000     396.000000
mean       20.766665      17.928074       0.075508       0.020100
std        18.001297      16.527002       0.022692       0.006497
min         3.817519       3.467787       0.038175       0.003095
25%         9.458820       8.447421       0.038710       0.014193
50%        13.454843      11.878106       0.079664       0.021015
75%        23.628721      19.753782       0.094291       0.024012
max        79.719063      80.126677       0.095279       0.044396

In [12]:
(df_001[conv_rows][utils_columns] - df_1[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     396.000000     396.000000     396.000000     396.000000
mean       48.112971      43.806586       0.170532       0.068089
std        45.173625      42.779707       0.040246       0.028213
min        12.457509      11.111886       0.092891       0.011146
25%        20.964342      19.067366       0.125831       0.040505
50%        30.738300      28.101953       0.181781       0.073578
75%        57.022199      45.342526       0.226375       0.088985
max       229.228098     224.492432       0.229228       0.114342

In [13]:
(df_001[conv_rows][utils_columns] - df_100[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     396.000000     396.000000     396.000000     396.000000
mean       50.934765      46.529266       0.180257       0.126469
std        49.049795      46.479925       0.049570       0.055500
min        12.601946      11.291589       0.094589       0.019500
25%        21.392864      19.679818       0.127569       0.082241
50%        31.819517      29.706891       0.188236       0.122611
75%        63.458431      49.430343       0.252330       0.208003
max       255.762753     250.021584       0.255766       0.217051

## Skewed-synthetic dataset
Across different temeperatures

t = 100, 10, 1, 0.1, 0.01

In [18]:
df_100 = pd.read_pickle("../saved_frames/synth-skewed_softmax_temp_100.0.pkl")
df_1 = pd.read_pickle('../saved_frames/weighted_synthetic_grid_softmax_statistics.pkl')
df_01 = pd.read_pickle('../saved_frames/synth-skewed_softmax_temp_0.1.pkl')
df_001 = pd.read_pickle('../saved_frames/weighted_synthetic_grid_greedy_statistics.pkl')
df_linear = pd.read_pickle("../saved_frames/weighted_synthetic_grid_linear_statistics.pkl")

In [19]:
df_100.shape, df_1.shape, df_01.shape,df_001.shape

((400, 16), (400, 16), (400, 16), (400, 16))

In [20]:
(df_001['NE_exists'] == False).sum(), (df_01['NE_exists'] == False).sum(), \
(df_1['NE_exists']==False).sum(), \
(df_100['NE_exists']==False).sum(),\
(df_linear['NE_exists']==False).sum()

(0, 0, 0, 0, 0)

In [21]:
conv_rows = ((df_001['NE_exists'] == True) & (df_linear['NE_exists'] == True)) # converged isntances

In [23]:
(df_001[conv_rows][utils_columns] - df_linear[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     400.000000     400.000000     400.000000     400.000000
mean       23.692173      17.727013       0.084045       0.065219
std        20.602756      12.754866       0.014081       0.045273
min         6.197210       5.118005       0.029067       0.000033
25%        10.771374       9.415948       0.075888       0.030091
50%        15.630424      13.480593       0.082945       0.062040
75%        27.821985      21.394611       0.091000       0.086727
max       118.539906      95.235529       0.118540       0.206112

In [24]:
(df_001[conv_rows][utils_columns] - df_01[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     400.000000     400.000000     400.000000     400.000000
mean       13.753869       9.121150       0.048876       0.055410
std        12.708779       8.178997       0.015638       0.042378
min         1.732880     -17.927289       0.010114      -0.000091
25%         6.217092       4.932223       0.036030       0.019335
50%         8.950769       6.960038       0.051577       0.051820
75%        15.657763      11.161325       0.061011       0.078465
max        75.932251      56.999736       0.079088       0.198498

In [25]:
(df_001[conv_rows][utils_columns] - df_1[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     400.000000     400.000000     400.000000     400.000000
mean       38.783700      31.683239       0.136192       0.076012
std        35.483481      25.340258       0.032639       0.045486
min         6.593545       5.333691       0.029067       0.002048
25%        17.038880      15.460037       0.115265       0.040405
50%        25.326241      22.510439       0.129529       0.072641
75%        43.947991      37.954863       0.153683       0.101090
max       209.501137     179.376211       0.209501       0.211057

In [26]:
(df_001[conv_rows][utils_columns] - df_100[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     400.000000     400.000000     400.000000     400.000000
mean       40.582243      33.380107       0.142345       0.078286
std        38.129926      27.874820       0.039876       0.045459
min         6.593545       5.333691       0.029067       0.002048
25%        17.603319      15.769174       0.117934       0.045422
50%        25.962892      23.342137       0.133042       0.074980
75%        46.096185      40.003621       0.160108       0.108220
max       240.496853     207.172409       0.240505       0.211057

## Movielens-100k dataset 
Across different temeperatures

t = 100, 10, 1, 0.1, 0.01

In [27]:
df_100 = pd.read_pickle("../saved_frames/movielens-100k_softmax_temp_100.0.pkl")
df_1 = pd.read_pickle('../saved_frames/Movielens100k_grid_softmax_statistics.pkl')
df_01 = pd.read_pickle('../saved_frames/movielens-100k_softmax_temp_0.1.pkl')
df_001 = pd.read_pickle('../saved_frames/Movielens100k_grid_greedy_statistics.pkl')
df_linear = pd.read_pickle("../saved_frames/Movielens100k_grid_linear_statistics.pkl")

In [28]:
df_100.shape, df_1.shape, df_01.shape,df_001.shape

((400, 16), (400, 16), (400, 16), (400, 16))

In [29]:
(df_001['NE_exists'] == False).sum(), (df_01['NE_exists'] == False).sum(), \
(df_1['NE_exists']==False).sum(), \
(df_100['NE_exists']==False).sum(),\
(df_linear['NE_exists']==False).sum()

(2, 0, 0, 0, 2)

In [31]:
conv_rows = ((df_001['NE_exists'] == True) & (df_linear['NE_exists'] == True)) # converged isntances
conv_rows.sum()

396

In [32]:
(df_001[conv_rows][utils_columns] - df_linear[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     396.000000     396.000000     396.000000     396.000000
mean        1.422876       1.003311       0.053250       0.024630
std         1.295636       0.745098       0.010266       0.018631
min         0.378943       0.330039       0.031142      -0.000159
25%         0.637897       0.541555       0.041739       0.014739
50%         0.913988       0.751928       0.056409       0.018401
75%         1.597680       1.159428       0.063455       0.026256
max         6.433750       6.074309       0.068226       0.123356

In [33]:
(df_001[conv_rows][utils_columns] - df_01[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     396.000000     396.000000     396.000000     396.000000
mean        1.330795       0.934802       0.049902       0.023280
std         1.143813       0.701398       0.005019       0.012742
min         0.396392      -0.588213       0.038978       0.001117
25%         0.582514       0.515006       0.043829       0.010728
50%         0.854995       0.712282       0.049480       0.025156
75%         1.551359       1.056053       0.054457       0.034348
max         5.333901       3.861891       0.056563       0.070072

In [34]:
(df_001[conv_rows][utils_columns] - df_1[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     396.000000     396.000000     396.000000     396.000000
mean        1.984286       1.532685       0.074016       0.097267
std         1.792511       1.166306       0.012533       0.041791
min         0.536708       0.488284       0.047371       0.031974
25%         0.881503       0.793838       0.059992       0.060902
50%         1.272684       1.110579       0.078129       0.085706
75%         2.192991       1.824482       0.084256       0.107018
max         8.764585       8.271462       0.093105       0.194565

In [35]:
(df_001[conv_rows][utils_columns] - df_100[conv_rows][utils_columns]).describe()

       avg_prod_util  min_prod_util  avg_user_util  min_user_util
count     396.000000     396.000000     396.000000     396.000000
mean        2.023080       1.569783       0.075431       0.112098
std         1.839862       1.206709       0.013727       0.055460
min         0.537605       0.490335       0.047485       0.035435
25%         0.902204       0.803102       0.060746       0.061869
50%         1.291880       1.129388       0.079606       0.103153
75%         2.253358       1.841230       0.085555       0.188550
max         9.043027       8.518622       0.095897       0.210543